<!DOCTYPE html>
<html>
   <head>
      <title>Rudn Socket</title>
   </head>




   <script src = "/socket.io/socket.io.js"></script>
   
   <script>
     // const socket = io();
      const socket = io.connnect({
  transports: [ 'websocket', 'polling' ]
})
      let userId = '<%= id %>'


  socket.emit("new user", userId); 
  socket.on("newToken",function(data){
   document.getElementById("sToken").innerHTML = data;

  })
  socket.on("ans", function (data) {
   document.getElementById("totalNoti").innerHTML = data;
   
   document.title= data;

});


   </script>
   <body>
       <h1>User uuid:<%= id %></h1>
       <p>Socket Token:<span id="sToken"></span></p>
      <div >Total Message:<span id="totalNoti">0</span></div>



   </body>
</html>